@import '../../vars';
.card {
  margin-top: 10px;
  padding:14px 14px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  p {
    margin: auto 10px;
    color: $gray;
  }

}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.name {

}
.price {
  color: $red;
}

.detail {
  display: flex;
  flex-direction: column;
}

.comment {
}
.footer {
  display: flex;
  flex-direction: row;
  p {
    font-size: 14px;
    color: $gray;
    margin-top: 8px;
    margin-bottom: 0;
  }
}