@import '../../vars.scss';

.title {
  display: flex;
  flex-direction: row;
  height:40px;
  background-color: $blue-light;
  p {
    display: inline;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 40px;
    margin:0;
  }
}