@import '../../vars.scss';

.position {
  position: fixed;
  top:0;
  width:100%;
}

.nav {
  background-color: $blue-light !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 !important;
  height: auto !important;
}