@import '../../vars';

.header {
  height: 180px;
  background-color: $blue-light;
  display: flex;
  flex-direction: row;
}
.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  p {
    margin-top: 10px;
    color: #FFFFFF;
  }
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  p {
    margin-top: 0;
    color: #FFFFFF;
  }
}