@import '../../vars';
.card {
  margin-top: 10px;
  padding:14px 14px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}
.hin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    margin: auto 10px;
  }
}
.price {
  color: $red;
  margin: auto 0px;
}
.pics{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pic {
  width: 100px;
  height: 100px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  p {
    font-size: 14px;
    color: $gray;
    margin: auto 0;
  }
}
.days {
  display: flex;
  flex-direction: row;
  p {
    margin-right: 4px;
  }
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    margin-left: 4px;
  }
}