.header {
  display: flex;
  flex-direction: row;
  p {
    display: inline;
  }
}
.pic {
  height: 100px;
  width: 100px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.description {
  display: flex;
  flex-direction: row;
}